<div class="card m-3">
  <form novalidate
            (ngSubmit)="saveProduct()"
            [formGroup]="productForm">
    <div class="card-header">
      <div class="offset-md col-md">
        {{pageTitle}}
        <button class="btn btn-primary mr-3" style="position: absolute; top: -25%; left: 70%;"                    
                type="submit">
          Save
        </button>
        <button class="btn btn-outline-secondary mr-3" style="position: absolute; top: -25%; left: 80%;"                 
                type="button"
                title="Cancel your edits"
                [routerLink]="['']">
          Cancel
        </button>
        <button class="btn btn-outline-warning" style="position: absolute; top: -25%; left: 90%;"                  
                type="button"
                title="Delete this product"
                (click)="deleteProduct()">
          Delete
        </button>
      </div>
    </div>
  
    <div class="card-body">
      
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="productNameId">Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="productNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="name"
                   name="name" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="productNameId">Company</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="productNameId"
                   type="text"
                   placeholder="Company (required)"
                   formControlName="company"
                   name="company" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="priceId">Price</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="priceId"
                      placeholder="Price (required)"
                      formControlName="price"
                      name="price" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="ratingId">Inches</label>
  
          <div class="col-md-8">
            <input class="form-control"
                   id="ratingId"
                   type="text"
                   placeholder="Inches (required)"
                   formControlName="inches"
                   name="inches" />
          </div>
        </div>

  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="categoriesId">Colors</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="categoriesId"
                      placeholder="Colors"
                      formControlName="colors"
                      name="colors" />
          </div>
        </div>
  
      <div class="form-group row mb-2">
          <label class="col-md col-form-label"
                 for="imageId">Image</label>
          <div class="col-md-8" style="position: relative; left:-16.7%;">
            <input class="form-control"
                      id="imageId"
                      placeholder="Image"
                      formControlName="image"
                      name="image"/>
          </div>
        </div>  
      </div>
    </form>
    
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>